<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>navbar</title>
    <link rel="stylesheet" href="style.css"/>
</head>

<body>
    <header>
        <div id="header">
            <nav>
                <div class="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </nav>
            <div class="texto-container">
                <h3>VIELAS</h3>
                <h3 class="login">login</h3>
                <div id="circulo"></div>
            </div>
        </div>
    </header>
</body>
</html>
